apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
- ../../../../components/mq/variants/cloudprovider/azure
- ../../../../components/mq/variants/nonprod
- ../../../../components/mq/variants/region/us-west

resources:
- ../../../../components/mq/base
